body{
  background: mediumpurple;
font-family: "Montserrat", Arial, sans-serif;


}
.container{
  width:75%;
  height:60%;
  margin: 60px auto;
background: red;
padding:5px;
border: 0;
border-radius: 10px;

}
.general{
float: left;
width:50%;
background-color: #FFDEAD;
border:0;
border-radius: 10px;
}
.sub-container{
width:50%;
float: left;
}
.sub-container img{
  max-width: 100%;
}
input{
  width:70%;
  padding:10px;
  margin:15px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border:0;
  border-radius: 8px;
}
input:focus{
  outline: none;
  background-color:coral;
  color:red;
}
.general:hover input{
color:brown;
}
#submit{
  width:75%;
  background-color:#3CB371;
  color:white;
  padding:10px;

  font-weight: 500;
  border:0;
  border-radius: 5px;

}
h3{
text-align: center !important;
font-size: 24px;
/*font-weight: 400;

}*/}
aside{
text-align: center;
font-size: 14px;

}
aside a{
color: #348fe2;
text-decoration: none;
}

@media screen and (max-width:800px){
.general, .sub-container {
    width:100%;
}

}



/*body{
  background: #fff;
  display: flex;
  justify-content:space-around;


}
.heading{
  margin-top: 150px;
  margin-bottom: 200px;
display: block;
align-items: center;
justify-content: center;
}
.interface{
font-family: "Montserrat", Arial, sans-serif;
font-size: 16px;
line-height: 2;
font-weight: 600;
padding: 10px;
color: gray;
margin-top:25px;
border-style: solid;
border-radius: 5px;
width: 515px;
border: 1px solid #ced4da;
color: #495057;
background-color: #fff;
box-sizing: border-box;
}
article{
font-family: "Montserrat", Arial, sans-serif;

font-size:16px;
line-height: 1.7;
margin-top:15px;

}
article a{
  text-decoration: none;
  color:#007BFF;
}
.interfaces{
Padding: 10px 170px;
color: #fff;
border-style: ridge;
background-color: #28a745;
border-color: #28a745;
font-size: 1.25rem;
font-weight: 600;
line-height: 1.5;
border-radius: 5px;
text-align: center;
vertical-align: middle;
box-sizing: border-box;
margin-top:20px;
}
*/
