*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  /*position: relative;*/
}
#container{
margin:50px auto;
width: 80%;
}

.heading1{
color: #0000;
font-size: 12px;
padding: 15px;
}
.remlad{
  display:inline-flex;
  text-align: center;
}
.remlad li{
  text-decoration: none;
  padding: 16px;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 2em;
 
}
.remlad li hover:a{
  color:green;
  
  cursor:pointer;
}
.remlad li a{
  text-decoration: none;
  color:#000000;
  font-weight: 600;
  line-height: 2em;
  text-transform: capitalize;
  padding-right:10px;
}
.remlad2{
padding-right:100px;
padding-bottom: 10px;
color: #000000;
font-weight: 800;
font-size: 28px;
line-height: 1em;
}
.class{
  border-style: solid;
  font-weight: 500;
  border-radius:6px;
  border-color:#17a2b8;
  background-color:#17a2b8;
  line-height: 2em;
  padding: 16px 18px;
  color:#fff !important;
}

.clas{
  border-style: solid;
  border-radius:6px;
  border-color:#6c757d;
  padding: 16px 18px;
  color:#fff !important;
  font-weight: 500;
  background-color: #6c757d;
  line-height: 2em;
}
#background{
/*padding-left:100px;
 margin:0;*/
 background: url(../HTML/blackLivesMatter.jpg),url(../HTML/blackLivesMatter.jpg);
 padding-top: 40vh;
 padding-bottom: 40vh;
 background-size:cover;
 max-width: 100%;
 max-height: 100%;
 background-blend-mode:multiply,hard-light;
 background-position:center;
background-repeat: no-repeat;

}

#backgroun  .utility{
  text-align: center;
  list-style: none;
}
#cable{
  font-size: 25px;
 
  font-weight: 500;
  color:#28a745;
  line-height: 2;
}
#cable2{
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0;
}
#backgrou{
  margin-top:30px;
}
.split{
display: inline-flex;
padding-top: 40px;
text-align: center !important;

}
.split li{
list-style: none;
padding-right: 25px;

}
.split .back{
border-style: solid;
list-style: none;
border-color: #fd7e14;
background-color: #fd7e14;
color:#ffff;
Padding:15px;
line-height: 1.5em;
font-weight: 700;
border-radius:10px;
/*text-transform: uppercase;
text-decoration: none;
font-family: "Helvetica Neue", Arial, "Noto Sans", sans-serif;*/
cursor: pointer;
margin-right: 5px;
  }
  .split  .bac{
border-style: solid;
list-style: none;
border-color:#28a745;
background-color:#28a745;
color:#fff;
line-height: 1.5em;
font-weight: 700;
border-radius:10px;
padding:15px;
font-family: "Helvetica Neue", Arial, "Noto Sans", sans-serif;
text-decoration: none;
cursor: pointer;
  }
.our{
font-size: 30px;
font-weight: 800px;
text-align:center;
color:#343a40;
background-color: #fff;
line-height: 1em;
font-family: "Helvetica Neue", Arial, "Noto Sans", sans-serif;
padding-bottom: 15px;
margin: 25px;

}
.our-services{
  /*display:grid;
  grid-template-columns:60% 60%;
  grid-column-gap: 15px;
  margin-bottom: 15px;
  padding-left: 50px;*/
  
}
.our-services div{
  float:left;
  width:70%;
}
.our-services ul li{
list-style-image: url();
border-radius: 12px;
}
.our-services ul p{
font-size: 15px;
line-height: 1.8;
font-weight: 400;
color: gray;
}
#our-service-2{
  font-family: "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 700;
  color:black;
  text-decoration: none;
}
.sign-up{
display: grid;
grid-template-columns: 70% 30%;
grid-column: 10px;
padding: 20px 50px;
background-color: #8fd0d2;
line-height: 3em;
}
#sign{
  padding:10px 15px;
  color:black;
  font-size:22px;
  font-family: "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}
#our-service-3{
  border-style: solid;
  border-radius: 4px;
  text-decoration: none;
  border-color:#1ba12d;
  color:#ffff;
  background-color: #1ba12d;
  padding:16px 8px;
font-size: 18px;
margin: 10px;
font-family: Montserrat, Arial, sans-serif;
font-size: 12px;
letter-spacing: 2px;
font-weight: 700;
}
.price{
  background-color: #ffff;

}
.price p{
padding-top:15px;
font-family: "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}
#plan{
text-align: center;
color:#1ba12d;
letter-spacing: 2px;
font-size: 12px;
display: block;
font-weight: 600;
font-family: "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  line-height: 1;
padding-top:10px;
text-transform: uppercase;
 }
#plan2{
  text-align: center !important;
  word-spacing:4px;
  color:black;
  font-family: "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-size:30px;
  font-weight: 800;
  line-height: 1.5;
  padding:0 15px;
  margin-bottom: 50px;
}
.months{
  /*float: left;
  justify-content: space-around;
  align-items: stretch;
flex-wrap: wrap;
  margin-left:20px;
  padding-left: 20px;
margin-bottom:100px;
background-color: #ffff !important;
} */
width: 80%;
height:70%;
}
.mtn{
border-style:none;
border-radius: 8px;
background-color: #fff;
/*margin:50px 0px;
min-height:120px;
min-width: 150px;
flex-wrap: wrap;*/
float: left;
width:80%;
margin: 30px;

}
.mtn ul{
  padding: 1px 3px;
  text-align: center;
}
.mtn ul li{
list-style: none;
margin-bottom: 15px;
color: #000000;
font-family: "Helvetica Neue", Arial, "Noto Sans", sans-serif;

}
.mtn ul li::before{
content: "\2705";
margin-right: 8px;


}


.glo {
color:green !important;
padding-top: 15px;
font-weight: 600;
font-size:16px;
letter-spacing: 2px;
margin-bottom:10px;

}
#sub{
  font-size: 12px;
  line-height: 1.5em;

}
.sub{
  margin-top:20px;
  font-size: 35px;
text-align: center !important;
}
#buy-now{
  border-style:solid;
  border-radius: 8px;
  border-width: thick;
  border-color: #28a745;
  color:#fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  background-color: #28a745;
  padding:15px 45px;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;

}
.buy-now{
    margin-top: 30px !important;
    margin-bottom: 25px !important;
    padding:10px;
    box-sizing: border-box;
    position:relative;

}
.About-us{
  display:grid;
  grid-template-columns: repeat(3,30%);

  margin-top: 15px;
  padding-top: 15px;
  padding-left:5px;
text-align: center !important;
    background-color: #343a40;
}
.quick{
  font-size: 18px;
    margin-bottom: 30px;
    font-weight: 600;
    color: #fff;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center !important;
}

div .form {
  list-style: none;
}
div .twitter{
padding-left: 10px;
display:flex;

}
div .twitter li{
  list-style: none;

}
div .twitter li img{
  height:40px;
  width:40px;
  padding:10px;
}

#quick{
font-family: "Montserrat", Arial, sans-serif;
font-size: 15px;
line-height: 1.8;
font-weight: 400;
padding-left: 10px;
color: gray;
}
div .buy{
  text-align: center;
  line-height: 2;
}
div .buy li{
  list-style: none;
  font-family: "Montserrat", Arial, sans-serif;
  word-spacing: 0.5;
}
div .buy li a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  text-align: left;
  padding-left: 2px;
}
.spaces{
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 15px;
  line-height: 1;
  padding: 7px;
  color: color: rgba(255, 255, 255, 0.5);
  background-color: color: rgba(255, 255, 255, 0.1);
  border-style:groove;
  border-radius: 5px;
}
.spaces2{
  border-style: solid;
  border-radius: 5px;
  margin-top:12px;
  font-family: "Montserrat", Arial, sans-serif;
  padding: 10px 50px;
  background-color: #1ba12d;
  color:#fff;
  font-size:14px;
  border-color: #1ba12d;
  text-transform:capitalize;
}
@media  screen and (max-width: 400px) {
  body {
    background-color: lightblue;
    font-size:12px;
  }
}
    @media print and ( min-width:401px, max-width:750px){
    body {
        color: #ff6347;
        font-family: Times, serif;
      font-size: 13px;}
}
@media all{ and (min-width:750px)
    body {
        color: #32cd32;
        font-family: Arial, sans-serif;
      font-size: 14px;}
  }
